<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FISPQ</title>
    <style>
        @page {
            size: A4 portrait;
            size: 595px 842px;
            margin: 40px 25px;
            padding-top: 140px;
            border: 0px !important;
            border-radius: 0px !important;
        }

        .page {
            page-break-before: always;
        }

        table {
            /* border: 0.7px solid #000; */
            width: 100%;
            border-spacing: 0;
        }        

        .subtitulo {
            border: 0.7px solid c2bebe;
            padding: 5px;
            font-size: 8px;
            background-color: #c2bebe;
        }

        td {
            /* border: 0.7px solid #000; */
            padding: 5px;
            font-size: 8px;
        }
        .formatted-text {
            font-size: 8px;
            white-space: pre-wrap;

        }

        table.borda-fina {
            /* border: 0.25px solid #000; */
            width: 100%;
            border-spacing: 0;
        }

        table.borda-fina td {
            border: 0.25px solid #000;
            padding: 5px;
            font-size: 8px;
            text-align: center;
        }

        .endereco {
                position: absolute;
                top: 100px;
                left: 90px;
                width: 350px;

            }

        .pictogramas {
            display: flex;
            padding: 5px;
            width: 100%;
        }

        .pictogramas img {
            width: 50px;
            margin: 0px 5px;
        }
        .logos {
            position: absolute;
            top: -160px;
            left: 202px;
            width: 140px;
                
        }
        .evitar-quebra {
            page-break-inside: avoid;
        }
    </style>
</head>

<body>
    <div class="page">
        <!-- TABLE 1 -->
        <table>
            <tr>
                <td class="subtitulo" colspan="2"><strong>1. Identificação</strong></td>
            </tr>
            <tr>
                <td style="width: 25px;"><strong>Nome</strong></td>
                <td>{{ produto }}</td>
            </tr>
            <tr>
                <td style="width: 25px;"><strong>Códigos</strong></td>
                <td>{{ cod_int }}</td>
            </tr>
            <tr>
                <td style="width: 25px;"><strong>Uso recomendado</strong></td>
                <td>Reagente para uso em laboratório</td>
            </tr>
            <tr>
                <td colspan="2" style="font-size: 9px; text-align: center;">
                    <br>
                    <br>
                    <!-- <strong>Quimlab Produtos de Química Fina LTDA</strong><br>
                    Endereço: Rodovia Geraldo Scavone, 2.300 - Jardim Califórnia - Jacareí - SP<br>
                    CEP: 12305-490<br>
                    Telefone da empresa: 12 3955-4646<br>
                    Telefone para emergências: 12 3955-4646<br>
                    Fax: 12 3958-5627<br>
                    E-mail: quimlab@quimlab.com.br -->
                </td>
                
                    <img src="file://{{ root_path }}empresas/{{ empresa }}.jpg" class="endereco"/> 
                
            </tr>
        </table>

        <!-- ESPAÇAMENTO -->
        <div style="width: 100; height: 80px;"></div>

        <!-- TABLE 2 -->
        <table>
            <div style="page-break-inside: avoid;">
            <tr>
                <td class="subtitulo"><strong>2. Identificação de perigos</strong></td>
            </tr>
            <tr>
                <td>
                    <strong>CLASSIFICAÇÃO DE PERIGO:</strong><br>
                    {{ todas_frases_classificacao | replace("\n","<br>") }}
                    <br><br>
            </div>  
            <div style="page-break-inside: avoid;">

                    <strong>FRASE DE PERIGO:</strong><br>      
                    {{ todas_frases_Perigo | replace("\n","<br>")  }}
                    <br><br>
            </div>  
            
                    <strong>FRASE DE PRECAUÇÃO:</strong><br>
                    {{ todas_frases_Precaucao | replace("\n","<br>") }}
            
            <div style="page-break-inside: avoid;">
                    <br><br>
                    <strong>ELEMENTO DE ROTULAGEM:</strong><br>
                    <div class ='pictogramas'>
                        
                    
                        {% for pictograma in pictogramas %}
                        <img src="file://{{ root_path }}pictogramas/{{ pictograma }}.jpg"/>   
                        {% endfor %}

                        {% if not pictogramas %}
                        Não aplicável
                        {% endif %}

                    </div>
                    <br><br>
            <div style="page-break-inside: avoid;">
                    <strong>PALAVRA DE ADVERTÊNCIA:</strong><br>
                    {{ frase_Advertencia }}

                        {%if not frase_Advertencia%}
                        N/E
                        {%endif%}
                    <br><br>
            </div> 
                    <strong>OUTROS PERIGOS QUE NÃO RESULTAM EM UMA CLASSIFICAÇÃO:</strong><br>
                    O produto não possui outros perigos.
                </td>
            </tr>
        </table>

        <!-- ESPAÇAMENTO -->
        <div style="width: 100; height: 20px;"></div>

        <!-- TABLE 3 -->
        <table class="borda-fina" style="page-break-inside: avoid;">
            <tr>
                <td class="subtitulo"><strong>3. Composição e informações sobre os ingredientes</strong></td>
            </tr>
            
            <tr>
                <td style="padding: 10px 15px; border-bottom: none;">
                    <table class="borda-fina" style="page-break-inside: avoid;">
                        <tr>
                            <td><strong>Substâncias</strong></td>
                            <td><strong>CAS</strong></td>
                            <td><strong>Fórmula molecular</strong></td>
                            <td><strong>Peso molecular</strong></td>
                            <td><strong>Classificação</strong></td>
                            <td><strong>Concentração %</strong></td>
                        </tr>
                        {% for sub in substancias %}
                        <tr>
                            <td>{{ sub['substancia'] }}</td>
                            <td>{{ sub['cas'] }}</td>
                            <td>{{ sub['fm'] }}</td>
                            <td>{{ sub['pm'] }}</td>
                            <td>{{ sub['classif'] }}</td>
                            <td>{{ sub['cmm'] }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>

            <tr>
                <td style="padding: 10px 0px 20px 0; text-align: center; border-top: 0px;">As substâncias mencionadas se referem aquelas utilizadas na formulação do produto.</td>
            </tr>
        </table>

        <!-- ESPAÇAMENTO -->
        <div style="width: 100; height: 20px;"></div>

        <!-- TABLE 4 -->
        
        <table style="page-break-inside: avoid;">
            
                <tr>
                    <td class="subtitulo"><strong>4. Medidas de primeiros-socorros</strong></td>
                </tr>
                <tr>
                    <td>
                        <p><b>Em caso de inalação:</b> {{ inalacao | replace("\n","<br>")}}</p> 
            
                        <p><b>Em caso de contato com a pele:</b> {{ cont_pele | replace("\n","<br>")}}</p>
                            
                        <p><b>Em caso de contato com os olhos:</b> {{ cont_olhos | replace("\n","<br>")}}</p>
                    
                        <p><b>Em caso de ingestão:</b> {{ ingestao | replace("\n","<br>")}}</p>
                        
                        <p><b>Sintomas e efeitos mais importantes, agudos ou tardios:</b> {{ sintomas | replace("\n","<br>")}}</p>
                    
                        <p><b>Indicação de atenção médica imediata e tratamentos especiais requeridos, se necessário:</b> {{ medico }}</p>
                    </td>
                </tr>
        </table>

        <!-- ESPAÇAMENTO -->
        <div style="width: 100; height: 20px;"></div>

        <!-- TABLE 5 -->
        <table style="page-break-inside: avoid;">
            <tr>
                <td class="subtitulo"><strong>5. Medidas de combate a incêndio</strong></td>
            </tr>
            <tr>
                <td>
                    <p><b>Meios de extinção:</b> {{ extincao | replace("\n","<br>")}}</p>
                        
                    <p><b>Perigos especifícos provenientes da substância ou mistura:</b> {{ perigo_esp | replace("\n","<br>")}}</p>
                        
                    <p><b>Medidas de proteção especiais para a equipe de combate à incêndio:</b> {{ medidas_protecao | replace("\n","<br>")}}</p>
                </td>
            </tr>
        </table>

        <!-- ESPAÇAMENTO -->
        <div style="width: 100; height: 20px;"></div>

        <!-- TABLE 6 -->
        <table style="page-break-inside: avoid;">
            <tr>
                <td class="subtitulo"><strong>6. Medidas de controle para derramamento ou vazamento</strong></td>
            </tr>
            <tr>
                <td>
                    <p><b>Para o pessoal que não faz parte do serviço de emergência:</b> {{ servico_emergencia | replace("\n","<br>")}}</p>
                        
                    <p><b>Para o pessoal do serviço de emergência:</b> {{ servico_emergencia2 | replace("\n","<br>")}}</p>
                        
                    <p><b>Precauções para o meio ambiente:</b> {{ precaucao_ambiente | replace("\n","<br>")}}</p>

                    <p><b>Métodos e materiais para contenção da limpeza:</b> {{ metodos_materiais | replace("\n","<br>")}}</p>
                </td>
            </tr>
        </table>

        <!-- ESPAÇAMENTO -->
        <div style="width: 100; height: 20px;"></div>

        <!-- TABLE 7 -->
        <table style="page-break-inside: avoid;">
            <tr>
                <td class="subtitulo"><strong>7. Manuseio e armazenamento</strong></td>
            </tr>
            <tr>
                <td>
                    <p><b>Precauções para o manuseio seguro:</b> {{ manuseio_seguro | replace("\n","<br>")}}</p>
                        
                    <p>{{ medidas_higiene | replace("\n","<br>")}}</p>
                        
                    <p><b>Condições de armazenamento seguro, incluindo qualquer incompatibilidade: </b> {{ condicoes_armazenamento | replace("\n","<br>")}}</p>
                </td>
            </tr>
        </table>

        <!-- ESPAÇAMENTO -->
        <div style="width: 100; height: 20px;"></div>

        <!-- TABLE 8 -->
        
        <table>
            <div style="page-break-inside: avoid;">
                <tr>
                    <td class="subtitulo"><strong>8. Controle de exposição e proteção individual</strong></td>
                </tr>
                <tr>
                    <td>
                        <b>Parâmetros de controle</b><br>
                            
                        <b>Limites de exposição:</b> <br>
                        <div class="formatted-text">{{ limitexposicao | replace("\n","<br>") }}</div>
            </div>
                        
                    <p><b>Medidas de controle de engenharia:</b> {{ medcontroleng | replace("\n","<br>")}}</p>

                    <b>Medidas de proteção pessoal</b><br>
                    <b>Proteção para os olhos/face:</b> {{ polhos | replace("\n","<br>")}}<br>
                    <b>Proteção da pele:</b> {{ ppele | replace("\n","<br>")}}<br>
                    <b>Proteção respiratória:</b> {{ prespiratoria | replace("\n","<br>")}}<br>
                    <b>Perigos térmicos:</b> {{ ptermicos | replace("\n","<br>")}}
                </td>
            </tr>
        </table>

        <!-- ESPAÇAMENTO -->
        <div style="width: 100; height: 20px;"></div>

        <!-- TABLE 9 -->
        <table>
            <tr>
                <td class="subtitulo"><strong>9. Propriedades físicas e químicas</strong></td>
            </tr>
            <tr>
                <td>
                    <b>Estado físico:</b> {{ aspecto }}<br>
                    <b>Cor:</b> {{ cor }} <br>
                    <b>Odor:</b> {{ odor }}<br>
                    <b>pH:</b> {{ ph }}<br>
                    <b>Ponto de Fusão/ponto de congelamento:</b> {{ fusao }}<br>
                    <b>Ponto de ebulição:</b> {{ ebulicao }}<br>
                    <b>Inflamabilidade:</b> {{ inflamabilidade }}<br>
                    <b>Limite inferior/ superior de inflamabilidade ou explosividade:</b> {{ explosividade }}<br>
                    <b>Ponto de fulgor:</b> {{ fulgor }}<br>
                    <b>Temperatura de auto-ignição:</b> {{ autoignicao }}<br>
                    <b>Temperatura de decomposição:</b> {{ decomposicao }}<br>
                    <b>Viscosidade cinemática:</b> {{ viscosidade }}<br>
                    <b>Solubilidade:</b> {{ solubilidade }}<br>
                    <b>Coeficiente de partição – n-octanol/água:</b> {{ particao }}<br>
                    <!-- <b>Taxa de evaporação:</b> {{ evaporacao }}<br> -->
                    <b>Pressão de vapor:</b> {{ pvapor }}<br>
                    <b>Densidade relativa:</b> {{ drelativa }}<br>
                    <b>Densidade de vapor relativa:</b> {{ dvapor }}<br>
                    <b>Característica da partícula:</b> {{ particula }}<br>
                    <b>Outras informações:</b> {{ informacoes }}<br>
                </td>
            </tr>
        </table>

        <!-- ESPAÇAMENTO -->
        <div style="width: 100; height: 20px;"></div>

        <!-- TABLE 10 -->
            <table style="page-break-inside: avoid;">
                <tr>
                    <td class="subtitulo"><strong>10. Estabilidade e reatividade</strong></td>
                </tr>
                <tr>
                    <td>
                        <b>Reatividade:</b> {{ reatividade }}<br>
                        <b>Estabilidade Química:</b> {{ estabilidadeq }}<br>
                        <b>Possibilidade de reações perigosas:</b> {{ rperigosas }}<br>
                        <b>Condições a serem evitadas:</b> {{ caseremevitadas }}<br>
                        <b>Materiais ou substâncias incompatíveis:</b> {{ incompativeis }}<br>
                        <b>Produtos perigosos da decomposição:</b> {{ pdecomposicao | replace("\n","<br>")}}<br>
                    </td>
                </tr>
            </table>

        <!-- ESPAÇAMENTO -->
        <div style="width: 100; height: 20px;"></div>

        <!-- TABLE 11 -->
        <table style="page-break-inside: avoid;">
        
            <tr>
                <td class="subtitulo"><strong>11. Informações toxicológicas</strong></td>
            </tr>
            <tr>
                <td>
                    <b>Toxicidade aguda:</b> <br>
                    <div class="formatted-text">{{ toxicidadea | replace("\n","<br>") }}</div>
                    <!-- <b>Toxicidade aguda:</b> {{ toxicidadea | replace("\n","<br>")}}<br> -->
                    <b>Corrosão/irritação da pele:</b> {{ cpele | replace("\n","<br>")}}<br>
                    <b>Lesões oculares graves/ irritação ocular:</b> {{ loculares }}<br>
                    <b>Sensibilização respiratória ou à pele:</b> {{ srespiratoria | replace("\n","<br>")}}<br>
                    <b>Mutagenicidade em células germinativas:</b> {{ mutagenicidade | replace("\n","<br>")}}<br>
                    <b>Carcinogenicidade:</b> {{ carcinogenicidade | replace("\n","<br>")}}<br>
                    <b>Toxicidade à reprodução:</b> {{ reproducao | replace("\n","<br>")}}<br>
                    <b>Toxicidade para órgãos-alvo específicos - exposição única:</b> {{ exposicaou | replace("\n","<br>")}}<br>
                    <b>Toxicidade para órgãos-alvo específicos - exposição repetida:</b> {{ exposicaor | replace("\n","<br>")}}<br>
                    <b>Perigo por aspiração:</b> {{ aspiracao | replace("\n","<br>")}}<br>
                </td>
            </tr>
        </table>

        <!-- ESPAÇAMENTO -->
        <div style="width: 100; height: 20px;"></div>

        <!-- TABLE 12 -->
        <table style="page-break-inside: avoid;">
            <tr>
                <td class="subtitulo"><strong>12. Informações ecológicas</strong></td>
            </tr>
            <tr>
                <td>
                    <b>Ecotoxidade:</b> {{ ecotoxidade | replace("\n","<br>")}}<br>
                    <b>Persistência e degradabilidade:</b> {{ degradabilidade | replace("\n","<br>")}}<br>
                    <b>Potencial Bioacumulativo: </b> {{ bioacumulativo | replace("\n","<br>")}}<br>
                    <b>Mobilidade no solo:</b> {{ mobilidade | replace("\n","<br>")}}<br>
                    <b>Outros efeitos adversos:</b> {{ outros_efeitos | replace("\n","<br>")}}<br>
                </td>
            </tr>
        </table>

        <!-- ESPAÇAMENTO -->
        <div style="width: 100; height: 20px;"></div>

        <!-- TABLE 13 -->
        <table>
            <tr>
                <td class="subtitulo"><strong>13. Considerações sobre destinação final</strong></td>
            </tr>
            <tr>
                <td>
                    <p>{{ destinacaofinal | replace("\n","<br>")}}</p>
                </td>
            </tr>
        </table>

        <!-- ESPAÇAMENTO -->
        <div style="width: 100; height: 20px;"></div>

        <!-- TABLE 14 -->
        <table>
            <div style="page-break-inside: avoid;">
                <tr>
                    <td class="subtitulo"><strong>14. Informações sobre transporte</strong></td>
                </tr>
                <tr>
                    <td>
                        <p><b>TERRESTRE</b></p>
                        <p>Resolução n°5.998, de 3 de novembro de 2022 - Atualiza o Regulamento para o Transporte Rodoviário de Produtos Perigosos, aprova suas Instruções Complementares, e dá outras providências</p>
                    </td>
                </tr>
            </div>
            
                <tr>
                    <td>
                        <b>Número ONU:</b>{{ onu }}<br>
                        <b>Nome apropriado para embarque:</b>{{ nome_embarque | replace("\n","<br>")}}<br>
                        <b>Classe/subclasse:</b>{{ classe }}<br>
                        <b>Número de risco:</b>{{ n_risco }}<br>
                        <b>Grupo de embalagem:</b>{{ grupo_emb }}<br>
                        <b>Perigo ao meio ambiente:</b>{{ pmambiente | replace("\n","<br>")}}<br>
            
            <div style="page-break-inside: avoid;">

                    <p><b>HIDROVIÁRIO</b></p>
                    <p>DPC - Diretoria de Portos e Costas (transporte de águas brasileiras)Normas de autoridade Marítima (NORMAM)<br>
                        NORMAM 01/DPC: Embarcações empregada na Navegação em Mar Aberto<br>
                        NORMAM 02/DPC: Embarcações Empregadas na Navegação Interior<br>
                        IMO - "International Maritime Organization" (Organização Marítima Internacional)<br>
                        International Maritime Dangerous Googs Code(IMDG Code)
                    </p>
            </div>
                    <b>Número ONU:</b>{{ onu }}<br>
                    <b>Nome apropriado para embarque:</b>{{ nome_embarque }}<br>
                    <b>Classe/subclasse:</b>{{ classe }}<br>
                    <b>Número de risco:</b>{{ n_risco }}<br>
                    <b>Grupo de embalagem:</b>{{ grupo_emb }}<br>
                    <b>Perigo ao meio ambiente:</b>{{ pmambiente | replace("\n","<br>")}}<br>

            <div style="page-break-inside: avoid;">

                    <p><b>AÉREO</b></p>
                    <p>ANAC - Agência Nacional de Aviação Civil - Resolução n°129 de 8 de dezembro de 2009.<br>
                        RBAC N°175 - REGULAMENTO BRASILEIRO DA AVIAÇÃO CIVIL - TRANSPORTE DE ARTIGOS PERIGOSOS EM AERONAVES CIVIS.<br>
                        IS N° 175-001-INSTRUÇÃO SUPLEMENTAR IS<br>
                        ICAO - "International Civil Aviation Organization"(Organização da Aviação Civil Internacional)-DOC 9284-NA/905<br>
                        IATA - "International Air Transport Association" (Associação Internacional de Transporte Aéreo)<br>
                        Dangerous Goods Regulation (DGR)
                    </p>
            </div>
                    <b>Número ONU:</b>{{ onu }}<br>
                    <b>Nome apropriado para embarque:</b>{{ nome_embarque }}<br>
                    <b>Classe/subclasse:</b>{{ classe }}<br>
                    <b>Número de risco:</b>{{ n_risco }}<br>
                    <b>Grupo de embalagem:</b>{{ grupo_emb }}<br>
                    <b>Perigo ao meio ambiente:</b>{{ pmambiente | replace("\n","<br>")}}<br><br>
                    <b>Medidas e condições específicas de precaução:</b>{{ mceprecaucao | replace("\n","<br>")}}
                </td>
            </tr>
        </table>

        <!-- ESPAÇAMENTO -->
        <div style="width: 100; height: 20px;"></div>

        <!-- TABLE 15 -->
        <table style="page-break-inside: avoid;">
            <tr>
                <td class="subtitulo"><strong>15. Informações sobre regulamentações</strong></td>
            </tr>
            <tr>
                <td>
                    Decreto Federal nº 2.657, de 3 de julho de 1998.<br>
                    Norma ABNT-NBR 14725.<br>
                    Portaria n° 229 de 24 de maio de 2011.
                </td>
            </tr>
        </table>

        <!-- ESPAÇAMENTO -->
        <div style="width: 100; height: 20px;"></div>

        <!-- TABLE 16 -->
        <table>
            <tr>
                <td class="subtitulo"><strong>16. Outras informações</strong></td>
            </tr>          
        </table>
            <!-- <tr> -->
                <!-- <td style="font-size: 8px;"> -->
                    <p style="text-align: center; width: 100%; text-decoration: underline; font-weight: 700; margin: 0; font-size: 9px;">Centros de Informações Toxicológicas</p>
                    <br><br>
                <div style="font-size: 8px;">
                    <u>Belo Horizonte</u> - Serviço de Toxicologia de Minas Gerais - Hospital João XXIII <br>
                    Fone: (31) 3239.9224/3239.9223 (Hospital) (31) 3239-9308 / 3224-4000 (Tel. CIT) Fax: (31) 3239.9260(CIT)
                    <br><br>

                    <u>Porto Alegre</u> - Centro de Informações Toxicológicas do Rio Grande do Sul <br>
                    Fone: (31) 3239.9224/3239.9223 (Hospital) (31) 3239-9308 / 3224-4000 (Tel. CIT) Fax: (31) 3239.9260(CIT)
                    <br><br>

                    <u>Recife</u> - Centro de Assistência Toxicológica de Pernambuco - Hospital da Restauração - 1º andar <br>
                    Fone: (31) 3239.9224/3239.9223 (Hospital) (31) 3239-9308 / 3224-4000 (Tel. CIT) Fax: (31) 3239.9260(CIT)
                    <br><br>

                    <u>Rio de Janeiro</u> - Centro de Controle de Intoxicações do Rio de Janeiro - Hospital Universitário Clementino Fraga Filho <br>
                    Fone: (31) 3239.9224/3239.9223 (Hospital) (31) 3239-9308 / 3224-4000 (Tel. CIT) Fax: (31) 3239.9260(CIT)
                    <br><br>

                    <u>Salvador</u> - Centro de Informações Anti-Veneno da Bahia - CIAVE - Hospital Geral Roberto Santos <br>
                    Fone: (31) 3239.9224/3239.9223 (Hospital) (31) 3239-9308 / 3224-4000 (Tel. CIT) Fax: (31) 3239.9260(CIT)
                    <br><br>

                    <u>São Paulo</u> - Centro de Controle de Intoxicações de São Paulo - Hospital Municipal Dr. Artur Ribeiro de Saboya  <br>
                    Fone: (31) 3239.9224/3239.9223 (Hospital) (31) 3239-9308 / 3224-4000 (Tel. CIT) Fax: (31) 3239.9260(CIT)
                    <br><br>

                    Legendas e abreviaturas
                    <br><br>

                    CAS - Chemical Abstracts Service<br>
                    ONU - Organização das Nações Unidas<br>
                    ACGIH - American Conference of Governmental Industrial Hygienists<br>
                    TLV - Threshold Limit Values (limites de exposição)<br>
                    TWA - Time-Weighted Average (média ponderada pelo tempo)<br>
                    STEL - Short-Term Exposure Limit (exposição de curta duração)<br>
                    DL50 - Dose letal 50%<br>
                    CL50 - Concentração letal 50%<br>
                    CE50 - Concentração Efetiva
                    <br><br>

                    <p style="margin: 0; width: 100%; text-align: center;">Para mais informações visite o site <a href="https://www.gov.br/anvisa/pt-br/assuntos/agrotoxicos/disque-intoxicacao">https://www.gov.br/anvisa/pt-br/assuntos/agrotoxicos/disque-intoxicacao</a></p>
                    <br><br>

                    <p style="margin: 0; width: 100%; text-align: center;">O não cumprimento das informações acima descritas, isenta o fabricante de responsabilidade pelo uso indevido do produto. As indicações baseiam-se no nível atual de nossos conhecimentos e servem para a caracterização do produto no que se refere às medidas de segurança a tomar. Estas indicações não implicam em qualquer garantia das propriedades do produto acima descrito.</p>
                    <br><br>

                    <p style="margin: 0; width: 100%; text-align: center;">Permitido fazer número ilimitado de cópias físicas, somente para uso interno.</p>
                    
            </div>
                <!-- </td> -->
            <!-- </tr> -->
        <!-- </table> -->
    </div>  
</body>
</html>